

h2
{
	text-align: center;
	font-size: 30px;
	color: #3a9b68;
}


input[type=text],
input[type=password]
{
	position: relative;
	display: block;
	border-style: solid;
	border-color: #77ac63;
	border-width: 2px;
	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
	
}

input[type=submit]{
	
	position: relative;
	display: block;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	width:280px;
	background-color: #3a9b68;
	border-radius: 16px;
	border-color: #77ac63;
	color: #ffffff;
}


#background
{
	position: absolute;
	top: 0;
	left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;	
}



input
{
	font-size: 25px;
	padding: 1px 5px;
}

.error{
	position: absolute;
	left:100px;
	top:10px;
	background-color: #f03e0d;
	border-radius: 10px;
	color: #ffffff;
	padding: 5px 10px;
	width: max-content;
	max-width: 1000px;
	max-height: 30px;
	
	font-size: 19px;

}

.return
{
	position: absolute;
	top:50px;
	left:30px;
}